@import "tailwindcss";

:root {
  --background: #000000;
  --sidebar: #1a1a1a;
  --card: #111111;
  --primary-text: #e5e7eb;
  --secondary-text: #9ca3af;
  --hover: #222222;
  --accent: #10b981; /* green accent */
}